@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  width: auto;
  margin: 0;
  font-family: Barlow, sans-serif;
  background-color: #f8f8e9;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-7xl
}

h2 {
  @apply text-6xl
}

h3 {
  @apply text-5xl
}

h4 { 
  @apply text-4xl
}

h5 {
  @apply text-3xl
}

h6 {
  @apply text-2xl
}

.expand-btn {
  height: 40px;
  width: 40px
}

.expand-btn:hover {
  width: 185px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}